@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<<<<<<< HEAD
    <p>Sample App to learn GitHub modified again revert 1.2</a>.</p>
=======
    <p>Sample App to learn GitHub modified again revert</a>.</p>
>>>>>>> parent of 0a45477 (changing index file revert 1.1)
</div>
