name: Label Issue
on:
  issues:
    types:
      - reopen
      - opened
jobs:
  label_issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Label Issues
        uses: andymckay/labeler@1.0.2
        with:
          add-labels: "triage"
          repo-token: ${{ secrets.GITHUB_TOKEN}}
